
.inputbox{
  font-size:20px;
  padding:10px;
  border:2px blue solid;
  border-radius:"5px";
  width:300px}

.addbutton{
  font-size:20px;
  width:80px;
  background-color:rgb(4, 78, 251);
  color:white;
  border:none;
  margin-left:20px;
  border-radius:5px;
  padding:10px}

.task-container{
  padding:20px 30px
}

.task{
  font-size:20px;
  margin:10px;
  text-align:center;
  padding:15px;
  background-color:#BBDEFB;
  border-radius:5px;
  border:1px solid blue
}

